{% extends 'base.html.twig' %}

{% block title %}New Pensionnaires{% endblock %}

{% block body %}
    <h1>Create new Pensionnaires</h1>

    {{ include('pensionnaires/_form.html.twig') }}

    <a href="{{ path('app_pensionnaires_index') }}">back to list</a>
{% endblock %}
